@if (isHR) {
  <div class="mb-3 d-flex gap-2">

    <app-custom-button
      label="My Leave Requests"
      [btnClass]="
        'btn-tab ' + (activeTab === 'my' ? 'btn-primary' : 'btn-outline-primary')
      "
      (clicked)="switchTab('my')">
    </app-custom-button>

    <app-custom-button
      label="All Employee Leave Requests"
      [btnClass]="
        'btn-tab ' + (activeTab === 'all' ? 'btn-primary' : 'btn-outline-primary')
      "
      (clicked)="switchTab('all')">
    </app-custom-button>

  </div>
}


  <!-- ================= HR VIEW ================= -->
  @if (isHR && activeTab === 'all' && uniqueEmployees.length && !selectedEmployeeRequests.length) {

<div class="card shadow-sm">
  <div class="card-header ">
    All Employee Leave Requests
  </div>

  <div class="card-body table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Employee ID</th>
          <th>Employee</th>
        </tr>
      </thead>
      <tbody>
        @for (emp of uniqueEmployees; track $index) {
        <tr style="cursor:pointer"
        (click)="router.navigate(['/leave-request/all', emp.empId])">

          <td>{{ $index + 1 }}</td>
          <td>{{ emp.empId }}</td>
          <td>{{ emp.empName }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

}


  @if (isHR && activeTab === 'all'  && selectedEmployeeRequests.length) {

    <app-custom-button
      label="← Back"
      btnClass="btn-go-back"
      (clicked)="goBack()">
    </app-custom-button>


<div class="card shadow-sm">
  <div class="card-header ">
    {{ selectedEmployeeName }} - Leave Requests
  </div>

  <div class="card-body">
    <div class="row g-3">
      @for (item of selectedEmployeeRequests; track $index) {
      <div class="col-md-6">
        <div class="border rounded p-3">
          <strong>LeaveType: {{ item.leaveType }}</strong>
          <p class="small text-muted">
            From: {{ item.fromDate | date:'dd-MM-yyyy' }} →
            To: {{ item.toDate | date:'dd-MM-yyyy' }}
          <br>
          Reason: {{ item.reason }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>

}


  <!-- ================= EMPLOYEE VIEW ================= -->
@if (!isHR || (isHR && activeTab === 'my')) {

<div class="card shadow-sm">
  <div class="card-myHeader ">
    <span>My Leave Requests</span>
    <app-custom-button
      label=" + Request Leave"
      btnClass="btn-request-leave"
      (clicked)="openPopup()">
    </app-custom-button>
  </div>

  <div class="card-body">
    <div class="row g-3">
      @for (item of leaveRequests; track $index) {
      <div class="col-md-4">
        <div class="border rounded p-3">
          <strong>LeaveType: {{ item.leaveType }}</strong>
          <p class="small text-muted">
            From: {{ item.fromDate | date:'dd-MM-yyyy' }} →
            To: {{ item.toDate | date:'dd-MM-yyyy' }}
          </p>
          <p class="mb-0"> Reason: {{ item.reason }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>

}

 @if (showRequestPopup) {
<div class="modal-backdrop-custom">

  <div class="modal-card ">
    <div class="modal-header text-black d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Request Leave</h5>
      <app-custom-button
      icon="fa fa-times"
      btClass="close-btn"
      (clicked)="closePopup() ">
    </app-custom-button>
    
    </div>

    <div class="modal-body">
      <form>

        <div class="row">
          <div class="col-6 mb-3">
            <label>From</label>
            <input type="date"
                   [(ngModel)]="newLeaveRequestObj.fromDate"
                   name="fromDate"
                   class="form-control form-control-sm">
          </div>

          <div class="col-6 mb-3">
            <label>To</label>
            <input type="date"
                   [(ngModel)]="newLeaveRequestObj.toDate"
                   name="toDate"
                   class="form-control form-control-sm">
          </div>
        </div>

        <div class="mb-3">
          <label>Leave Type</label>
          <select class="form-select form-select-sm"
                  [(ngModel)]="newLeaveRequestObj.leaveType"
                  name="leaveType">
            <option value="">Select</option>
            <option value="sickLeave">Sick Leave</option>
            <option value="paidLeave">Paid Leave</option>
          </select>
        </div>

        <div class="mb-3">
          <label>Reason</label>
          <textarea rows="3"
                    [(ngModel)]="newLeaveRequestObj.reason"
                    name="reason"
                    class="form-control form-control-sm"></textarea>
        </div>

        <div class="d-flex justify-content-end">
        <app-custom-button
          label="Cancel"
          btnClass="btn-cancel-sm"
          (clicked)="onCancelLeaveRequest()">
        </app-custom-button>

        <app-custom-button
          label="Submit"
          btnClass="btn-leave-submit"
          (clicked)="onSaveLeaveRequest()">
        </app-custom-button>

        </div>

      </form>
    </div>
  </div>

</div>
}
