
/* Chrome, Edge, Brave, Safari */
input[type="password"]::-webkit-textfield-decoration-container,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-input-password-toggle {
  display: none !important;
  visibility: hidden !important;
}

/* Microsoft Edge (legacy) */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}


.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #d8dbfb, #897ff9);
  font-family: 'Segoe UI', sans-serif;
}

.login-card {
  width: 900px;
  height: 540px;
  background: #ffffff;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

/* LEFT PANEL */
.login-left {
  width: 50%;
  padding: 60px;
  background: linear-gradient(135deg, #6a5acd, #8a6de9);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.login-left p {
  font-size: 16px;
  opacity: 0.9;
}

/* RIGHT PANEL */
.login-right {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Input Group */
.input-group-box {
  margin-bottom: 22px;
}

.input-group-box label {
  font-size: 13px;
  font-weight: 600;
  color: #555;
  margin-bottom: 6px;
  display: block;
}

/* Input box */
.input-box {
  position: relative;
}

.left-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  font-size: 16px;
}

.right-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #9ca3af; /* default gray */
  transition: color 0.3s ease;
}

/* When password is visible */
.right-icon.active-eye {
  color: #6366f1; /* indigo / blue */
}

/* Hover effect */
.right-icon:hover {
  color: #4f46e5;
}


/* Input */
.input-box input {
  width: 100%;
  height: 48px;
   padding-left: 48px;
  padding-right: 48px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.input-box input:focus {
  border-color: #6a5acd;
}

.input-box input::placeholder {
  color: #b0b0b0;
}

/* Options */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 28px;
}

.options a {
  color: #6a5acd;
  text-decoration: none;
}

/* Button */
.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn-wrapper button {
  width: 220px;
  height: 48px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #6a5acd, #8a6de9);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.btn-wrapper button:hover {
  opacity: 0.9;
}
