@import "tailwindcss";



.cdk-overlay-container {
  z-index: 9999 !important;
}

.custom-snackbar-container.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}



@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
