.unauth-box {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f4f6f9;
      text-align: center;
    }
   